
.c-card{

  &--minicard{
    background: #fff;
    border-bottom: 1px solid #999;
    width: 100%;
    padding: $spacing-unit;

    &__content{
      flex: 1 1 auto;
    }
    &__amount{
      flex: 1 1 auto;
    }
    &__cta{
      flex: 0 1 auto;
    }
    &__raw{
      display: block;
      width: 100%;
      font-size: 5px;
      background: $white;
    }
  }
}
