@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700');
@import url('https://fonts.googleapis.com/css?family=Mukta:200,300,400');

$font-heading: 'Playfair Display', serif;
$font-base: 'Mukta', sans-serif;

h1,h2,h3,h4,h5{
  font-family: $font-heading;
}