.c-modal{
  &--add{
    background: $white;
    padding: $spacing-unit-large;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    position: fixed;
    left: 20vw;
    top: 20vw;
    width: 80vw;
    height: 80vw;
  }
}
